#app {
  width:600px;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: #333;
  color: white;
  font-size: 40px;
}

input{
  height: 30px;
  width:400px;
  font-size: 20px;
  margin-top: 5px;
  padding-left: 5px;
  border: 0;
  padding-bottom: 5px;
}

input:focus {
  outline: 0;
  background: -webkit-linear-gradient(left, #a9f2f1, #fff);
  background-color: linear-gradient(to right, #a9f2f1, #fff);

}

button{
  height: 35px;
  font-size: 18px;
  font-weight: 100;
  background-color: #555;
  color: white;
  border: none;
  width: 150px;
  float: right;
  margin-top: 5px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

ul {
  padding-left: 0;
}

ul li {
  list-style: none;
  border: #eee solid 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

ul li button {
  float: right;
  background-color: #dd1137;
  color: white;
  width:30px;
  height:30px;
  margin-top: 30px;
  margin-right: 20px;
}

ul h3 {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 30px;
  color: #2b2a2d;
}

ul li a {
  text-decoration: none;
  color: #1089e0;
}

ul li a:active {
  color: #1089e0;
}

.blankText {
  padding-left: 5px;
  color: #666;
  font-size: 20px;
}

.wiki {
  margin-left: 5px;
}

.google {
  margin-left: 20px;
}
